* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url("Images/BG Cover.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 100;
}

.logo {
    font-size: 32px;
    text-decoration: none;
    color: white;
}

menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 30px;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 20px;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
    margin-left: 35px;
}

.menu a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;

}

.menu a:hover::before {
    width: 100%;
}