a {
    text-decoration: none;
    color: #3498db; /* Set to your preferred color */
    font-weight: bold;
}

a:hover {
    color: #0d497d; /* Change to your preferred hover color */
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.projects {
    margin: 20px;
    text-align: center;
}

.projects h2 {
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
}

.project img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 10px;
    border-radius: 4px;
}

.project-info {
    padding: 10px;
    text-align: left;
}

.project-info h3 {
    margin: 0;
    margin-bottom: 10px;
}

.project-info p {
    margin: 0;
}

.project:hover {
    transform: scale(1.05);
}