* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #0d497d; /* Set to your preferred color */
}

a:hover {
    color: #042a4b; /* Change to your preferred hover color */
}

body {
    min-height: 100vh;
    /* background: url("E:/Codes/Projects/Portfolio Website/Images/BG Cover.webp") no-repeat; */
    background-color: #ededed;
    background-size: cover;
    background-position: center;
    color: #000;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(2px);
    z-index: -1;
}

.about {
    margin-top: 20px;
    padding-left: 30px;
}

.intro {
    margin-top: 15px;
    padding-left: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.education {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.education p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}

.experience {
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.experience p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}

.skills {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.skills ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    list-style-type: none;
    padding: 0px;
}

.skills li {
    margin-bottom: 10px;
    font-size: 18px;
}

.achievements {
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.achievements p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}