* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #3498db; /* Set to your preferred color */
}

a:hover {
    color: #0d497d; /* Change to your preferred hover color */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
}

.menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 30px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: #000;
}

li {
    display: inline-block;
    margin-left: 20px;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: all 0.3s ease;
    margin-left: 35px;
}

.menu a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: .3s;
}

.menu a:hover::before {
    width: 100%;
}

.menu a:hover {
    color: #0d497d;
}

body {
    min-height: 100vh;
    /* background: url("E:/Codes/Projects/Portfolio Website/Images/BG Cover.webp") no-repeat; */
    background-color: #fff;
    background-size: cover;
    background-position: center;
    color: #000;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(2px);
    z-index: -1;
}

.about {
    margin-top: 80px;
    padding-left: 30px;
    text-align: center;
}

.intro {
    margin-top: 20px;
    padding-left: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.education {
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.education p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}

.experience {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.experience p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}

.achievements {
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.achievements p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}

.cocurriculars {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.cocurriculars p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 18px;
}